.formControl {
  width: 30%;
  margin-bottom: 30px !important;
  border:3px solid lightskyblue;
  
  box-shadow: 3px 3px 5px 6px lightsteelblue;
}
@media(max-width:770px){
  .formControl{
    width:100%;
    box-shadow:3px 3px 5px 6px #ccc;
  }
}

